.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container .text-checkbox {
  margin-right: 8px;
}

.checkbox-container .form-checkbox {
  width: 18px;
  height: 18px;
  color: rgb(75 85 99);
}
