.btn-submit {
  color: #fff;
  font-weight: 700;
  padding: 8px 16px;
  background-color: rgb(20 184 166);
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: rgb(15 118 110);
}
